services:
  discord-support-bot:
    container_name: discord-support-bot
    build: .
    volumes:
      - ./Data:/app/Data
    restart: unless-stopped
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    network_mode: bridge